@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'multicolore';
	src: url('/multicolore.woff2');
}

:root {
	--primary: oklch(93% 0.121 97);
	--secondary: oklch(83% 0.1 244);
	--success: oklch(89.5% 0.1 146);
	--chart: #eaf7fe;
}

:focus-visible {
	outline: 4px dotted var(--primary);
	outline-offset: 2px;
	/* border-radius: 2px; */
}

html {
	font-family: 'multicolore', sans-serif;
	font-weight: lighter;
	font-size: 14px;
	color: #333;
}

body {
	background: var(--secondary);
}
