@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'multicolore';
	src: url('../fonts/multicolore-webfont.woff2');
}

:root,
.root,
#root,
#docs-root {
	--primary: #d33a2c;
	--primary-dark: #bc3428;
	--primary-light: #ffe7e7;
	--chart: #eaf7fe;
}

html {
	font-family: 'multicolore', sans-serif;
	font-weight: lighter;
	color: #333;
}
